* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 5rem;
  padding-top: 10%;
}
.body_wrap {
  width: 600px;
  height: 620px;
  margin: 0 auto;
  padding: 3rem;
  background-color: rgb(210, 210, 210);
}
#result {
  width: 100%;
  height: 15%;
  text-align: right;
  padding: 1.8rem 2rem 0;
  margin-bottom: 3rem;
  background-color: white;
}
#calculator {
  width: 100%;
  height: 85%;
  padding-bottom: 3rem;
  .btn_wrap {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    & > * {
      font-size: 3.2rem;
      cursor: pointer;
      background-color: gray;
      color: white;
      border-radius: 5%;
    }
    .operator {
      font-size: 3.6rem;
    }
    .operator,
    #del {
      color: black;
      background-color: rgb(165, 165, 165);
    }
    #CE {
      background-color: orange;
    }
    #calResult {
      background-color: rgb(255, 77, 0);
    }
  }
}
